body{
    background-color: white;
}
/* model css */
#pdfTable3 {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

#pdfTable3 .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pdfTable3 .text-left, #pdfTable3 .text-right {
    flex: 1;
}

